body,
html {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
  background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.description {
  color: white;
  font-size: 2vw;
  opacity: 0.85; 
  margin: 2em; 
}


.main-title {
  text-transform: uppercase;
  color: white;
  font-size: 5em;
  opacity: 0.85;
}

.section-title {
  text-transform: uppercase;
  color: white;
  font-size: 4vw;
  opacity: 0.85;
}

@media screen and (max-width: 1000px) {
  .main-title {
    font-size: 2em;
    text-align: center;
  }
}

@media screen and (max-device-width: 800px) {
    #videoBackground {
      display: none;
    }
    .description {
      font-size: 5vw;
    }
    .section-title {
      font-size: 6vw;
    }
}

.navbar {
  background-color: black !important;
  opacity: 0.7;
}

.projets {
  background-color: rgb(43, 42, 42);
  opacity: 0.85;
}


.fakeimg {
  height: 300px;
  background: #aaa;
}

.card {
  margin: 2em;
}

.skills, .about {
  margin-top: 15em;
  background-color: rgb(43, 42, 42);
  opacity: 0.85;
}



.description a:visited, a:link {
  color: white;
}

.card .btn {
  text-transform: uppercase;
  height: 50px;
  width: 100px;
}
